
.top{
   display: flex;
   gap: 0px 350px;  
   background-color: #522258;
   height: 20px;
   padding-left: 240px;
   padding-bottom: 22px;
   color: #FFFF;
   
   
   
}

*hero{
    padding: 0px;
    margin: 0px;
}

.nav-bar{
    display: flex;
    margin-left: 45px;
    color: #117554;
    padding: 0px 55px;
}

.nav-bar ul{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    font-weight: 20px;
    color: #117554;
    
}

.nav-bar1>ul{
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    margin-top: 20px;
    gap: 75px;
    margin-left: 400px;
   
   
}

.hi{
    display: inline-block;
    font-size: 65px;
    padding-left: 0px;
    margin-right: 20px;
    margin-left: 100px;
    margin-bottom: -21px;
    padding-top: 30px;
    
}
.let{
    display: inline-block;
    font-size: 35px;
    padding-left: 0px;
    margin-right: 20px;
    margin-left: 100px;
    margin-bottom: -21px;
    padding-top: 15px;
}
.passion{
    padding: 0px 101px;  
    color: #AF1740;
    padding-top: 15px;
}



.my-img{
    display: flex;
    flex-direction: row-reverse;
    border-radius: 50%;
    margin-top: 15px;
    
}
.hire-container{
background-color: #FBFBFB;
color: #522258;
padding: 0px 85px;
height: 550px;
margin-top: 0px;

}


button{
    margin-top: 0%;
    padding: 10px 10px;
    margin-left: 27px;
    padding-right: 20px;
    background-color: #522258;
    color: #FBFBFB;
    
}

.me-img{
    width: fit-content;
    height: 80px;
    border-radius: 50%;
}
#hire{
    margin-left: 68px;
    color: #FBFBFB;
    justify-content: space-between;
    
}

#hire a{
    text-decoration: none;
    font-weight: 20px;
    color: #FBFBFB;
    
}

/* media queries  */

@media (max-width: 768px) { /* Tablet */
    .hero {
        flex-direction: column; /* Stack items vertically */
        padding: 30px;
    }

    .hero img {
        width: 80%; /* Adjust image size */
    }
}

@media (max-width: 480px) { /* Mobile */
    .hero {
        padding: 20px;
    }

    .hero img {
        width: 100%; /* Full-width for small screens */
    }
}

/* about */


#about{
    margin-top: 10px;
    background-color: #FEFEFE;
    
}

.container-xl4{
    display: flex;

}


#aboutSection li{
    
    padding: 5px 10px;
    align-items:center ;
    background: #522258;
    border-radius: 45px;
    color: #FEFEFE;
}

#aboutSection h1{
    padding: 3px 35px;
    font-size: 30px;
    color: #AF1740;

}

#aboutSection p{
    padding: 3px 14px ;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    margin: 0px 25px;
    padding-bottom: 20px;
    color: #3C3D37;
}

#aboutSection .crafting {
    color: #FF9A00;
}
#aboutSection b{
    color: #6A9C89;
}
/* Progress Bar Styles */

.progress-bar{
    background-color: #14274E;
    box-shadow: none;
    font-size: 15px;
    line-height: 1.2;
    color: #F3F1F5;
    font-weight: 600;
    position: relative;
    overflow: visible;
    border-radius: 2px;
}

.progress-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    transition: 0ms;
    border-radius: 25px;
}

.progress-bar-container{
    padding-left: 30px;
    margin-right: 25px;
}


.tag{
    margin: 0px 0px;
    padding: 0px 0px;
}

.tag{
    margin-top: 35px;
    text-align: center;
}
.tag h2{
    font-size: 45px;
    line-height: 1;
    color: #522258;
}

.opentowork{
    font-size: 30px;
    text-align: center;
    line-height: 0.5;
    background-color: #EEEEEE;
    height: 165px;
    

}

.opentowork h1{
    margin-top: 5px;
    padding-top:30px;
    color: #117554;
}

.opentowork span{
    color: #F05A7E;
    line-height: 0.5px;
}

/* new code  */
.hidden {
    display: none;
}

.content-section {
    padding: 20px;
    margin-top: 20px;
}

.head-section ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 35px;
}

.head-section ul li a {
    text-decoration: none;
    font-weight: bold;
}

.head-section a{
    color: #FFFFFF;
    background-color: #522258;
    padding: 7px 7px;
    border-radius: 20px;
}
/* skill */
#skillsSection li{
    
    padding: 5px 10px;
    align-items:center ;
    background: #522258;
    border-radius: 45px;
    color: #FEFEFE;
}

#skillsSection h1{
    padding: 3px 35px;
    font-size: 30px;
    color: #AF1740;

}

#skillsSection p{
    padding: 3px 14px ;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    margin: 0px 25px;
    padding-bottom: 20px;
    color: #3C3D37;
}

#skillsSection b{
    color: #6A9C89;
}
/* experinence */
#experienceSection li{
    
    padding: 5px 10px;
    align-items:center ;
    color: #3C3D37;
    font-size: 19px;
}

#experienceSection h1{
    padding: 3px 0px;
    font-size: 30px;
    color: #AF1740;

}

#experienceSection p{
    padding: 3px 14px ;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    margin: 0px 25px;
    padding-bottom: 20px;
    color: #3C3D37;
}

#experienceSection b{
    color: #6A9C89;
    font-size: 20px;
}

.contact-wrap{
    display: flex;
    color: #FEFEFE;
}
.contact-container{
    color: #FEFEFE;
    margin-top: 55px;
    margin-left: 75px;
    


}

.contact-wrap h1{
    color: #F05A7E;
}

.address {
    display: flex;
    gap: 95px;
}

.contact-info{
    margin-left: 50px;
    margin-top: 45px;
}

.address h1{
    color: #117554;
}