<div class="about" >
    <h1>About Me</h1>
    <p>	"Hello! I’m <b>Rajesh.K</b>, a dedicated and innovative developer specializing in frontend technologies and DevOps. With a strong foundation in <b>HTML, CSS, JavaScript, and React,</b> I build intuitive, user-friendly interfaces that balance aesthetics with performance. My background in DevOps, encompassing tools like <b>Docker, Kubernetes, and Jenkins</b>, allows me to manage seamless deployments and ensure stability in complex applications.
    Passionate about continuous learning, I thrive on staying updated with the latest industry trends and best practices. My approach combines creativity with technical rigor, and I aim to deliver solutions that not only meet but exceed expectations."
    </p>
    <h1 id="crafting">Crafting Digital Experiences: Web Design & Development Expert</h1>
    <p>From turning creative ideas into stunning websites to building seamless, user-friendly web applications, I specialize in delivering dynamic, visually engaging, and high-performance digital solutions. Let’s work together to bring your vision to life with a website that stands out!</p>
</div>
